*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON  */

body{
    font-family: 'Roboto', sans-serif;
}

.col{
    float: left;
}

.container-80{
    width: 80%;
    margin: auto;
}

.container-45{
    width: 45%;
    margin: auto;
}

.container-65{
    width: 65%;
    margin: auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.link-list li a{
    font-size: 18px;
    color: rgb(50 73 91);
}

/* stili testo  */

.standard-text{
    color: rgb(50 73 91);
    line-height: 30px;
}

.text-small{
    font-size: 12px;
}

.centered-text{
    text-align: center;
}

.standard-top-margin{
    margin-top: 20px;
}
/* fine stili testo  */


.btn-orange{
    color: white;
    background-color: #ff7a59;
    padding: 20px 45px;
    border-radius: 5px;
    display: inline-block
}

.btn-orange:hover{
    background-color: #fdab97;
    text-decoration: none;
}

/* colonne flottate */
.two-col .col{
    width: 50%;
}

.nav-bottom .col:first-child{
    width: 40%;
}

.nav-bottom .col:last-child{
    width: 60%;
}

.shift-right{
    text-align: right;
}

.one-half-col .col:first-child{
    width: 30%;
    margin: auto;
}

.one-half-col .col:last-child{
    width: 70%;
}

.three-col .col{
    width: 30%;
}

.three-col .col:nth-child(2){
    margin: 0 5%;
}

.four-col .col{
    width: 25%;
}
/* fine colonne flottate  */


/* HEADER  */

/* nav top e bottom */
.bg-fix{
    background-color: rgb(244 249 253);
    border-bottom: 1px solid black;
    position: fixed;
    width: 100vw;
}

.nav-top{
    padding: 10px 0;
}

.nav-bottom{
    padding: 85px 0 20px 0;
}

.link-list li{
    display: inline-block;
    vertical-align: middle;
    padding: 10px 20px 0 0;
}

.shift-right .link-list li{
    padding: 0 0 0 20px;
}

.v-divider{
    height: 20px;
    width: 1px;
    border-left: 1px solid black;
    vertical-align: middle;
}

.fa-search{
    color: rgb(0 164 189);
}

.link-list .login-btn{
    color: rgb(254 119 90);
    background-color: white;
    border: 1px solid rgb(254 119 90);
    border-radius: 5px;
    padding: 10px 10px;
}

.login-btn:hover{
    background-color: rgb(235, 233, 233);
    text-decoration: none;
}

.link-list li .btn-orange{
    padding: 11px 10px;
    color: white;
}


.logo{
    width: 100px;
    /* padding: 35px 0; */
}

/* fine nav  */

/* jumbotron  */

.jumbotron{
    height: 600px;
    background-color: rgb(255 245 238);
    background-image: url("../img/jumbotron.png");
    background-repeat: no-repeat;
    background-position: 128% 13%;
}

.banner-text{
    width: 50%;
    padding-top: 90px;
}

.banner-text h2{
    font-size: 60px;
    font-weight: 900;
    line-height: 60px;
}

.banner-text p{
    padding: 30px 0;
}


.banner-text .text-small{
    display: block;
    padding: 30px 0;
}

.green-bar{
    background-color: rgb(173 235 227);
    height: 100px;
    border-top: 3px solid #33475b;
    border-bottom: 3px solid #33475b;
}

/* fine jumbotron  */

/* MAIN  */
.bg-sky{
    background-color: rgb(242 248 253);
}

/* slogan  */
.slogan{
    text-align: center;
    padding: 40px 0;
}

.slogan img{
    width: 300px;
    margin: auto;
}

.slogan h2{
    font-size: 40px;
}
.slogan p{
    padding: 30px 0;
}

/* fine slogan  */

/* sezione features  */
.features{
    background-color: white;
    border-radius: 5px;
    padding: 50px;
    box-shadow: 0px 1px 13px 1px rgba(0, 0, 0, 0.1);
}

.feature-icon{
    height: 150px;
}

.icon-container{
    margin: auto;
    padding-bottom: 30px;
}

.checklist i{
    color: #ff7a59;
}

.one-half-col li{
    display: inline-block;
    padding-right: 20px;
}

.one-half-col .h-divider{
    width: 50%;
    margin-left: 0;
}

.three-col{
    padding: 60px 0;
}

.three-col .checklist{
    text-align: left;
    padding: 0 0 40px 20px;
    line-height: 20px;

}

.h-divider{
    width: 90%;
    border-bottom: 1px solid #33475b;
    margin: 40px auto;
}

/* fine features  */

/* sezione achievements  */
.bg-gradient{
    background: linear-gradient(124deg, rgba(0,174,180,1) 54%, rgba(1,188,167,1) 97%);
}

.achievement-text{
    color: white;
    line-height: 30px;
    width: 70%;
    margin: auto;
}

.achievement-text h2{
    font-size: 40px;
    line-height: 50px;
    padding: 50px 0 20px 0;
}

.achievement-text p{
    font-weight: 500;
}

/* griglia  */
.grid{
    padding: 40px 0;
}

.ach-data{
    font-size: 60px;
    font-weight: 700;
    padding: 10px 0;
    display: block;
}

.ach-data::after{
    content: "+";
    font-size: 50px;
    font-weight: 300;
}

.grid{
    color: white;
}

.grid-icon{
    height: 35px;
}

.grid-entry{
    padding: 30px 0;
}


.grid-text{
    font-weight: 300;
    font-size: 15px;
}

/* bordi griglia  */
.grid .col:nth-child(2){
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.grid .col:nth-child(3){
    border-right: 1px solid white;
}

.first-row .col{
    border-bottom: 1px solid white;
}

/* fine bordi griglia  */
/* fine griglia  */
/* fine sezione achievements  */

/* sezione customers */
.customers {
    padding: 60px;
}

.customers-data{
    padding: 50px;
}

#customers-number{
    font-size: 60px;
    font-weight: 700;
    padding-bottom: 40px;
}

.partners{
    padding: 40px;
}

.partners img{
    width: 20%;
    vertical-align: middle;
    padding-left: 20px;
    padding-bottom: 30px;
}
/* fine customers  */

/* sezione call to action  */
.cta{
    padding-bottom: 40px;
}

.cta h3{
    font-size: 30px;
    line-height: 40px;
}

.cta p{
    padding: 30px 0;
}

.cta img{
    width: 40%;
}

 .cta .col:last-child{
    text-align: right;
} 
/* fine call to action */

/* fine MAIN  */

/* FOOTER  */
.link-array{
    padding: 40px 0;
}

footer{
    background-color: #32495b;
    color: #cbd6e2;
}

.footer-links h4{
    padding-bottom: 20px;
}

.footer-links ul{
    font-weight: 300;
}

.footer-links ul li{
    padding: 10px 0;
}

footer a{
    color: #cbd6e2;
}

.support{
    margin: 10px 0;
} 

#support-btn{
    color: #32495b;
    background-color: #cbd6e2;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0;
}

#support-btn:hover{
    text-decoration: none;
    background-color: white;
}

.social-links li{
    display: inline-block;
    margin-right: 20px;
}

.social-links a:hover{
    color: white;
}

.languages ul li{
    display: inline-block;
    padding: 0 20px;
}

.languages ul li a{
    color: #cbd6e2;
    font-weight: 300;
    
}

.footer-break{
    color: #cbd6e2;
    margin-top: 20px;
}

/* footer bottom   */
.footer-bottom{
    padding: 30px 0;
}

.legal{
    text-align: right;
}

.legal li{
    display: inline-block;
    padding: 0 10px;
}
/* fine footer bottom  */
/* fine FOOTER  */